header {
  margin: auto;
  text-align: center;
}

#container {
  background-color: #7282ff;
  color: black;
  text-align: center;
  border-radius: 4px;
  width: 95%;
  height: 100%;
  /* Give room for footers original position */
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-size: 32px;
}

h3 {
  text-decoration: underline;
  font-size: 30px;
}

/* .mission {
  border-style: ridge;
  border-color: white;
  border-width: 5px;
} */

.card_section {
  border-style: solid;
  border-width: 3px 0px 3px 0px;
  border-color: white;
  font-size: 21px;
}

.donation {
  background-color: lawngreen;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  font-size: 24px;
  margin-right: 20px;
}
.donation:hover {
  text-decoration: underline;
  background-color: white;
  color: black;
}

.nominate {
  background-color: tomato;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  font-size: 24px;
}
.nominate:hover {
  text-decoration: underline;
  background-color: white;
  color: black;
}

.sponsor {
  background-color: rgb(240, 255, 109);
  border-style: solid;
  border-color: black;
  border-width: 5px;
  font-size: 24px;
  margin-left: 20px;
}
.sponsor:hover {
  text-decoration: underline;
  background-color: white;
  color: black;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 15px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-content: left left;
  margin: auto;
  width: 200px;
  height: auto;
}

/* DRY Code (Don't repeat yourself). Classess make it where you can reuse styling on anything on that class.
 I would consider these help cards repeatable

 See example .help below

.help1 {
  max-width: 100%;
  height: auto;
}
.help2 {
  max-width: 100%;
  height: auto;
} */

.help {
  max-width: 100%;
  height: auto;
  text-align: left;
  border-bottom: solid 1px white;
  font-size: 21px;
}

.help_container {
  display: flex;
}

.help h3 {
  text-align: center;
}

.help_picture {
  width: 40%;
  height: auto;
  margin: 10px;
}

.help_picture img {
  width: 100%;
}

/* Made fixed to bottom of screen */
footer {
  /* margin: auto;
  padding: 20px;*/
  border-style: solid;
  border-color: #fff;
  border-width: 5px;
  position: fixed;
  bottom: 0;
  width: 94%;
  background-color: #64cdff;
  border-radius: 4px;
}

.copyright {
  margin-bottom: 0px;
  padding-bottom: 0px;
}
